body {
  padding-top: 50px;
  
 
 }








.starter-template {
  padding: 40px 15px;
  text-align: center;
  color: blue;
  margin-top: 60px;

   }

 .starter-template h1 {

  font-size: 80px;
 }


 